.task-wrapper_wrapper {
    width: 100%;
    height: 15%;
    display: flex;
    flex-direction: row;
    text-align: left;
    position: relative;
    padding: 0.5rem;
    margin: 0;
}

.wrapper_text-wrapper {
    width: 80%;
    height: 50%;
}

.text-wrapper_text {
    padding-left: 1%;
    width: 100%;
    height: 100%;
    color: green;
    cursor: pointer;
}

.wrapper_delete-button-wrapper {
    width: 20%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.delete-button-wrapper_delete-button {
    margin-top: 1%;
    color: #fdcb6e;
    background-color: green;
    cursor: pointer;
}