.todo-wrapper {
    width: 500px;
    height: 400px;
    display: flex;
    margin-top: 5%;
    flex-direction: column;
    background-color: lavender;
}

.todo-wrapper_task-wrapper {
    width: 90%;
    height: 80%;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    margin-left: 2%;
}

.checked {
    background-color: gray;
    color: #fff;
    text-decoration: line-through;
  }